<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loader_einstein1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein17.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein19.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein21.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein22.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein23.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein24.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>loader_einstein9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{432,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312f6a48a2fb9d189ad854c274348ba9:b575ab12e3f0f29300bdabdc8448d6b1:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
